* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, blue, lightblue);
    min-height: 100vh;
    position: relative;
    padding-bottom: 60px;
    color: white;
}

header {
    color: white;
    padding: 21px;
    text-align: center;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.icct {
    color : white;
    text-align: center;
}
img {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 80px;
}

table {
    margin-top:60;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    background-color: transparent;
    color:bisque;
}

th, td {
    border: 1px solid whitesmoke;
    padding: 12px;
    text-align: center;
}

tr, td {
    text-align: left;
}

.button {
    position: absolute;
    bottom: 30px;
    right: 20px;
    padding: 10px 20px;
    text-decoration: none;
    background-color: white;
    color: blue;
    cursor: pointer;
}
.button:hover {
    background-color: rgb(192, 191, 191);
}

footer {
    background:transparent;
    color: white;
    position : absolute;
    bottom: 0;
}

p {
    margin: 10px 0;
}
